#footer-root
    display flex
    flex-direction column
    align-items: center
    margin 2em 3em 1em 3em
    padding-top: 0.5em
    border-top: 0.1em solid var(--global-shadow)

    a
        color: var(--link-blue)

    div
        margin-top: 0.5em

    #footer-powerby
        svg
            display: inline

        #theme-name
            font-family: bubble

    #footer-beian
        margin-bottom: 1em
        #gongan
            margin-left: 1em
