<div id="widget-friend-root" class="widget-root">
    <div id="widget-friend-title" class="widget-title" style="background-color: <%= color %>;">
        Friends
    </div>
    <div id="widget-about-content">
        <div id="widget-friend-img" style="background-image: url(<%= theme.friends.link %>/favicon.ico);"></div>
        <div id="widget-friend-name"><a href="<%= theme.friends.link %> "><%= theme.friends.name %></a></div>
    </div>
</div>