<div id="widget-nav-root" class="widget-root">
    <div id="widget-nav-title" class="widget-title" style="background-color: <%= color %>;">导航</div>
    <% for(var i in theme.menu){ %>
        <a href="<%- url_for(theme.menu[i]) %>">
            <div id="widget-nav-item">
                <% if(i == 'Home'){ %>
                    <svg t="1631969156788" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1182" width="200" height="200"><path d="M561.6 83.2c-27.2-24.8-68.8-24.8-96 0L76 453.6c-14.4 13.6-15.2 36-2.4 50.4s36 16 50.4 3.2l6.4-5.6V888c0 19.2 7.2 37.6 20.8 51.2 13.6 13.6 32 20.8 51.2 20.8h208.8V742.4c0-13.6 5.6-26.4 14.4-36s22.4-15.2 36-14.4H560c13.6 0 26.4 5.6 36 14.4 9.6 9.6 14.4 22.4 14.4 36v216.8h214.4c19.2 0 37.6-7.2 51.2-20.8 13.6-13.6 20.8-32 20.8-51.2V505.6c16 14.4 38.4 13.6 52-1.6 6.4-7.2 9.6-16 9.6-25.6-0.8-9.6-4.8-18.4-12-24.8L561.6 83.2z" p-id="1183" fill="#1296db"></path></svg>
                <% }else if(i == 'Archives'){ %> 
                    <svg t="1631969143336" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="974" width="200" height="200"><path d="M844.8 211.2H680v-56.8c0-31.2-25.6-56.8-56.8-56.8H400.8c-32 0-56.8 24.8-56.8 56.8v56.8H179.2c-63.2 0-114.4 50.4-114.4 112.8v138.4h892.8V324c0-62.4-49.6-112.8-112.8-112.8z m-222.4 0H400.8v-24.8c0-12.8 12.8-24.8 25.6-24.8h164.8c12.8 0 25.6 12.8 25.6 24.8v24.8h5.6zM508.8 594.4c32 0 56.8-24.8 56.8-56.8 0-12.8 0-18.4-6.4-24.8H464c-6.4 12.8-6.4 18.4-6.4 31.2 0 31.2 25.6 50.4 51.2 50.4z" p-id="975" fill="#1296db"></path><path d="M616 512.8c0 6.4 6.4 18.4 6.4 24.8 0 62.4-50.4 106.4-114.4 106.4S400 593.6 400 537.6c0-12.8 0-18.4 6.4-24.8L63.2 512v304c0 62.4 58.4 111.2 121.6 111.2h665.6c63.2 0 108-50.4 108-112.8V512.8H616z" p-id="976" fill="#1296db"></path></svg>                
                <% }else if(i == 'About'){ %>
                    <svg t="1631969173580" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1385" width="200" height="200"><path d="M925.6 858.4h-60.8C856 710.4 765.6 584.8 641.6 533.6c58.4-43.2 96-115.2 96-196 0-132-100-238.4-223.2-238.4s-224 106.4-224 238.4c0 81.6 38.4 152.8 96 196-124 52-214.4 176.8-223.2 325.6h-68c-21.6 0-32 11.2-32 34.4s10.4 34.4 32 34.4h830.4c21.6 0 32-11.2 32-34.4s-10.4-35.2-32-35.2z m-697.6 0c12.8-137.6 110.4-248 235.2-272 1.6 2.4 3.2 4.8 4.8 6.4l20.8 22.4-37.6 200 71.2 42.4 71.2-42.4-37.6-200 20.8-22.4c0.8-0.8 1.6-2.4 2.4-3.2 117.6 29.6 207.2 136.8 220 268l-571.2 0.8z" p-id="1386" fill="#1296db"></path></svg>
                <% } %>  
                <span id="widget-nav-content"><%= i %></span>
            </div>
        </a>
    <% } %> 
</div>