<div id="widget-about-root" class="widget-root">
    <div id="widget-about-title" class="widget-title" style="background-color: <%= color %>;">
        音乐widget
    </div>
    <div id="widget-about-content">
        <%- ncmWidget() %> 
    </div>
</div>