<div id="header-root">
    <!-- <video src="/video/video.mp4" autoplay loop muted></video> -->
    <div id="header-img">
        <picture class="lozad" data-iesrc="https://static.xiaoblogs.cn/img/19%E5%86%AC%E8%A3%85.png">
            <source srcset="https://static.xiaoblogs.cn/img/19%E5%86%AC%E8%A3%85.png" media="(min-width: 680px) and (max-width: 1080px)">
            <source srcset="https://static.xiaoblogs.cn/img/smellzaozao.PNG" media="(max-width: 680px)">
            <img src="https://static.xiaoblogs.cn/img/%E6%95%91%E4%B8%96%E4%B9%8B%E6%AD%8C.png" width="100%">
        </picture>
    </div>
    <div id="header-filter"></div>
    <div id="header-title">
        <span id="start" class="">{</span>
            <%= config.title %>
        <span id="end">}</span>
        <span id="subtitle">
            <%= config.subtitle %>
        </span>
    </div>
</div>
