<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' avoscloud.com api.imjad.cn ; style-src 'self' 'unsafe-inline' cdn.bootcdn.net;script-src 'self' 'unsafe-eval' 'unsafe-inline' cdn.jsdelivr.net cdn.bootcdn.net hm.baidu.com api.ip.sb;img-src 'self' 'unsafe-inline' 'unsafe-eval' static.xiaoblogs.cn http://yuyy.info img.shields.io gravatar.loli.net *.music.126.net; media-src *.music.126.net;">
    <title><%= config.title %> </title>
</head>