.widget-root
    width: 100%
    background-color: var(--widget-background-color)
    border-radius: 0.4em
    box-shadow 0.2em 0.2em 0.3em var(--global-shadow)
    padding: 0 1.5em 1em 1.5em
    margin-bottom: 2em
    box-sizing: border-box

    .widget-title
        width auto
        color var( --widget-font-color)
        border-radius 0.4em
        margin 1em 0
        padding 0.5em
        text-align center
        box-shadow 0 0.25em 0.2em var(--global-shadow)

    svg
        width: 1.7em
        height: 1.7em