:root
    --global-blue : #3D67D8
    --global-yellow : #CC9917
    --global-cyan : #1F9AB2
    --global-pink : #CC6893
    --global-red : #CC3B45
    --global-purple : #8043CC
    --link-blue : #259DD4

    --site-background-color : #1D1F21
    --widget-background-color : #333333
    --global-font-color : #CCCCCC
    --global-shadow : transparent
    --index-post-bg : #333333
    --widget-font-color: #ffffff
    --figure-background-color: #262626