:root
    --global-blue : #4A7AFF
    --global-yellow : #FFC01D
    --global-cyan : #29C7E5
    --global-pink : #FF83B9
    --global-red : #FF4A57
    --global-purple : #A155FF
    --link-blue : #259DD4

    --site-background-color : #F6F6F6
    --widget-background-color : #ffffff
    --global-font-color : #000000
    --global-shadow : #E7E7E7
    --index-post-bg : #ffffff
    --widget-font-color: #ffffff

